*{

box-sizing:border-box;

}



body{

margin:0;

height:100vh;

overflow:hidden;

background:#050505;

color:#cbd5e1;

font-family:Arial,sans-serif;

}





header{

height:55px;

background:#0f172a;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 25px;

}



.logo{

font-size:21px;

font-weight:bold;

color:#e5e7eb;

}



.status{

color:#16c784;

font-size:13px;

}





.layout{

height:calc(100vh - 55px);

display:grid;

grid-template-columns:1fr 350px;

gap:12px;

padding:12px;

}





.topbar{

display:flex;

gap:12px;

height:85px;

}





.coinCard,
.assetCard,
.card{

background:#111827;

border-radius:14px;

border:1px solid #1f2937;

padding:12px;

}






.coinCard{

width:240px;

}





#coinName{

font-size:13px;

color:#94a3b8;

}



#coinPrice{

font-size:22px;

font-weight:bold;

color:#f8fafc;

margin-top:5px;

}



#coinChange{

font-size:13px;

color:#94a3b8;

}





.assetCard{

flex:1;

display:flex;

align-items:center;

gap:40px;

height:85px;

}



.assetBox{

display:flex;

flex-direction:column;

gap:8px;

}



.assetBox span{

font-size:13px;

color:#94a3b8;

}



.assetBox b{

font-size:16px;

color:#e5e7eb;

}






select{

background:#111827;

color:#cbd5e1;

border:1px solid #334155;

padding:8px;

border-radius:8px;

margin:8px 0;

}





#chart{

height:calc(100vh - 180px);

}






aside{

display:flex;

flex-direction:column;

gap:12px;

}





.card h2{

margin:0 0 12px;

font-size:17px;

color:#e5e7eb;

}





.tradeButtons{

display:flex;

}





button{

border:0;

border-radius:8px;

padding:10px;

font-weight:bold;

cursor:pointer;

}



#longBtn{

width:50%;

background:#16c784;

color:white;

}



#shortBtn{

width:50%;

background:#ea3943;

color:white;

}





label{

display:flex;

justify-content:space-between;

color:#94a3b8;

font-size:13px;

margin-top:10px;

}




input{

width:100%;

background:#020617;

color:white;

border:1px solid #334155;

border-radius:8px;

padding:10px;

}





.levButtons{

display:flex;

}



.levButtons button{

flex:1;

background:#1e293b;

color:#cbd5e1;

margin:3px;

}





.percent{

display:flex;

}



.percent button{

flex:1;

background:#1e293b;

color:#94a3b8;

margin:3px;

}






.positions{

height:380px;

overflow:hidden;

}





#positions{

height:100%;

overflow:auto;

}





.pos{

background:#020617;

border-radius:12px;

padding:12px;

margin-bottom:10px;

}





.LONG{

border-left:4px solid #16c784;

}



.SHORT{

border-left:4px solid #ef4444;

}



.profit{

color:#16c784;

}



.loss{

color:#ef4444;

}





.closeBtn{

width:100%;

background:#ef4444;

color:white;

}

#coinButtons{

display:flex;

gap:10px;

margin:10px 0;

}


#coinButtons button{

background:#111827;

color:#94a3b8;

padding:10px 20px;

border-radius:12px;

font-weight:bold;

}



#coinButtons button:hover{

background:#334155;

color:white;

}